body {
  font: normal 12px/15px Lato, verdana, arial;
  margin: 2rem;
}

code {
  color: green;
  font-family: 'Courier New', Courier, monospace;
}

code.cmd {
  background-color: #DDD;
  padding: 2px;
}

.logEntry {
  color: #333;
  display: block;
  line-height: 1rem;
}

details {
  color: red;

  > summary span {
    color: green;
    font-weight: bold;
    cursor: pointer;
  }
}

code.pre {
  white-space: pre-wrap;
}

.container {
  position: absolute;
  inset: 0;

  .demo {
    max-width: 800px;
    margin: 0 auto;
  }
}